*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!doc
!doc/**
doc/ft_ping\ 5.1.pdf
doc/ft_ping\ eval.pdf
doc/Evaluacion.md

!inc
!inc/**

!src
!src/**

!tester
!tester/**

!Makefile
!.gitignore
!README.md
!README_es.md
!LICENSE
!ft_ping.png
